[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pixieweb"]
	path = pixieweb
	url = https://github.com/lchansson/pixieweb
[submodule "rKolada"]
	path = rKolada
	url = https://github.com/lchansson/rkolada
